<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><b><%= task.id %></b></td>
        <td><b><%= task.title %></b></td>
        <td><b><%= task.description %></b></td>
        <td><b><%= task.status %></b></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Subtasks', new_task_subtask_path(task) %></td>
      </tr>
      <% task.subtasks.each do |sub| %>
        <tr>
          <td></td>
          <td><%= sub.title %></td>
          <td><%= sub.description %></td>
          <td><%= sub.status %></td>
          <td><%= link_to 'Edit', edit_task_subtask_path(task.id,sub.id) %></td>
          <td><%= link_to 'Destroy', [task, sub], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>



    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
